*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --blue-color:#EEF9FF;
    --blue-foncee:#06A3DA;
    --bleu-ciel:#031860;

    
}


/* *******************Designe blog grig************************************** */


.blog-flexible{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 30px;
    

}

.blog-grid-left{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    margin: 0 auto;
    /* row-gap: 20px */
    ;

}
.blog-grid-left img{
    width: 100%;
    height: 199px;
}
 .card-img-1,
 .card-img-2,
 .card-img-3,
 .card-img-4,
 .card-img-5,
 .card-img-6,
 .card-img-7,
 .card-img-8,
 .card-img-9,
 .card-img-10
 
 
 {
    padding-bottom: 50px;
    background-color: white;
    margin-top: 20px;
    background-color: var(--blue-color);
    box-shadow: 0 1px 2px rgb(206, 205, 205);
}
.description{
    margin-left: 10px;
    margin-top: 10px;
}
.lorem{
    font-size: 12px;
}
#icons-description{
    color: var(--blue-foncee);
}
.fa-user{
    margin-right: 10px;
}
.fa-calendar-days{
    margin-left: 10px;
    margin-right: 10px;
}

.content-relative{
    position: relative;
    background-color: var(--blue-foncee);
    color: white;
    width: 130px;
    height: 30px;
    top: -190px;
    font-weight: bold;
}
#lien-ancre{
    text-decoration: none !important;
}
.pagination{
    margin-top: 10px;
}

#pagination-content{
    width: 40px;
    height: 30px;
    border: 1px solid var(--blue-foncee);
    display: flex;
    place-content: center;
    color: var(--blue-foncee);
    
}

#pagination-content1{
    width: 40px;
    height: 30px;
    border: 1px solid var(--blue-foncee);
    display: flex;
    place-content: center;

}
.active-background{
    background-color: var(--blue-foncee);
    color: white;
}
.fa-arrow-left,#right-icon{
    color: var(--blue-foncee);
    padding-top: 7px;
}
.partenaire{
    display: flex;
    justify-content: space-around;
}
.partenaire img {
    width: 50px;
    height: 50px;
}
.float-text{
    font-size: 12px;
    padding-left: 10px;
}
.web-design{
    width: 210px;
    height: 30px;
    background-color: var(--blue-color);
    margin-top: 10px;
    color: var(--bleu-ciel);
    padding-left: 5px;
}
.web-design span{
    font-size: 12px;
}
.formulaire{
    display: flex;
}
.formulaire input{
    width: 85%;
    height: 30px;
}
.formulaire div {
    width: 35px;
    height: 30px;
    color: white;
    padding-left: 1px;
    background-color: var(--blue-foncee);
}

.formulaire div i{
    padding-left: 5px;
}
.section-content{
    margin: 20px 0;
}
.blog-grid-right{
    margin-top: 20px;
}


.categorie{
    margin-top: 30px;
}
.categorie hr{
    border: 3px solid var(--blue-foncee);
    width: 20%;
}


.content-float{
    margin-top: 20px;
}
#img-content-float{
    width:70px ;
    height: 47px;
}

.content-float1{
    display: flex;
    
}
.float-text{
    background-color: var(--blue-color);

}
.content-plein-img img {
    width: 100%;
    height: 120px;
}
.text-span span{
    font-size: 11px;
    background-color: var(--blue-color);
    padding-top: 5px;
    padding-bottom: 5px ;
    margin-top: 10px;
    
}
.para-content{
    background-color: var(--blue-color);
    padding-bottom: 10px;
}
.para-content p{
    text-align: center;
    font-size: 12px;
}
.btn-btn-content button{
    
    border: none;
    background-color: var(--blue-foncee);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.btn-btn-content{
    display: flex;
    justify-content: center;
}



/* ********************Medias queries************************ */


@media screen  and (max-width:1060px) {
    .blog-flexible{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        
    
    }
    .content-plein-img img {
        width: 30%;
        height: 120px;
        margin-top: 10px;
    }
    .para-content{
        background-color: var(--blue-color);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .categorie hr{
        border: 3px solid var(--blue-foncee);
        width: 10%;
    }
    
}
@media screen  and (max-width:574px) {
    .blog-flexible{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        
    
    }

    .blog-grid-left{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 0 auto;
        /* row-gap: 20px */
        ;
    
    }

 .card-img-1,
 .card-img-2,
 .card-img-3,
 .card-img-4,
 .card-img-5,
 .card-img-6,
 .card-img-7,
 .card-img-8,
 .card-img-9,
 .card-img-10
 
 
 {
    width: 90%;
    height: auto;
    padding-bottom: 50px;
    background-color: white;
    margin-top: 20px;
    background-color: var(--blue-color);
    box-shadow: 0 1px 2px rgb(206, 205, 205);
}


    .blog-grid-left img{
        width: 100%;
        height: auto;
    }
    .content-plein-img img {
        width: 30%;
        height: 120px;
        margin-top: 10px;
    }
    .para-content{
        background-color: var(--blue-color);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .categorie hr{
        border: 3px solid var(--blue-foncee);
        width: 10%;
    }

    .content-relative{
        position: relative;
        background-color: var(--blue-foncee);
        color: white;
        width: 130px;
        height: 30px;
        top: -210px;
        /* font-weight: bold; */
    }
    .section-content{
        margin: 0;
    }
    
}
